      <h1>Add Author Page</h1>

    <%= flash[:notice] %>
      <ul> 
    <% if @error_message %>
      <% @error_message.each do |error| %>
        <li><%= error %> </li>
    <% end %>
    <% end %>
  </ul>

      <% form_for @author, url_for(:authors, :create) do |f| %>

        <%= partial 'authors/fields', :locals => { :f => f } %>

      <% end %>
