<h3><%= @individual_author.id %></h3>
<ul>
  <%= @individual_author.first_name %> <% @individual_author.last_name %>
</ul>

<p>
  <!-- Put some seed data into individual_author db/seeds.rb & call this method-->
</p>
