<h3>Index of Posts.</h3>
<table class="table">
  <tr><th>ID</th><th>#</th><th>Title</th><th></th><th>Body</th><th>Created At</th><th>Updated At</th><th>Show</th><th>Edit</th><th>Delete</th></tr>
  <% @post_list.each do |post| %>
    <tr>
    <% post.attributes.each do |attribute, values| %>
      <td> <%= values %></td>
  <% end %>
    <td> <%= link_to 'Show', url_for(:posts, :show, :id => post.id)  %></td>
    <td> <%= link_to 'Edit', url_for(:posts, :edit, :id => post.id)  %></td>
    <td> <%= link_to 'Delete', url_for(:posts, :destroy, :id => post.id)  %></td>
  </tr>
<% end %>
</table>
