<!DOCTYPE htmll>
<html>
  <head>
    <title>Index of Authors</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>

    <body>
    
      <%= yield %> 
    
    </body>

</html>
